
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Hastane Bilgilendirme Platformu</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    @RenderSection("Css", false)
</head>
<body>
    @Html.Partial("_navbar")
    <div class="container pt-100" style="margin-left:150px;">
         @if(TempData["message"] != null)
        {
             @Html.Partial("_resultmessage", TempData.Get<ResultMessage>("message"))
            @* <partial name="_resultmessage" model="@(TempData.Get<ResultMessage>("message"))" ></partial> *@
        }

        @RenderBody()
    </div>


    <script src="/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>

    @RenderSection("Script", false)
    
</body>
</html>